[Desktop Entry]
Version=1.0
Name=Acut Core
Comment=Acut P2P Cryptocurrency
Comment[de]=Verbinde mit dem Acut peer-to-peer Netzwerk
Comment[fr]=Acut, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Acut, eşten eşe kriptografik sanal para birimi
Exec=acut-qt %u
Terminal=false
Type=Application
Icon=acut128
MimeType=x-scheme-handler/acut;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Acut-qt
