# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit acutd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/acut/acut.conf, except for those explicitly specified as arguments
# in ExecStart=

[Unit]
Description=Acut daemon
After=network.target

[Service]
ExecStart=/usr/bin/acutd -daemon \
                                                            -pid=/run/acutd/acutd.pid \
                                                            -conf=/etc/acut/acut.conf  \
                                                            -datadir=/var/lib/acutd

# Process management
####################

Type=forking
PIDFile=/run/acutd/acutd.pid
Restart=on-failure
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as acut:acut
User=acutcore
Group=acutcore

# /run/acutd
RuntimeDirectory=acutd
RuntimeDirectoryMode=0710

# /etc/acut
ConfigurationDirectory=acut
ConfigurationDirectoryMode=0710

# /var/lib/acutd
StateDirectory=acutd
StateDirectoryMode=0710

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
